<h2 mat-dialog-title>About me
    <span style="float: right"><a (click)="closeDialog()"><span>
      <mat-icon class="ad-icon-clear">clear</mat-icon></span></a></span></h2>
    <mat-dialog-content style="height: 400px; max-height: 400px;">
        <div>
          <img class="about-header-image" src="../assets/me.jpg" alt="Profile Picture">
        </div>
        <br>
      <p class="ad-about-p">Hey there, I’m Anindya. I guess you are here because you want to know a bit about me. I’m not much of a talker but I’ll give it a shot, here you go!</p>
      <p class="ad-about-p">I am passionate about coding and I love learning new technologies. I have always thought of having my own blog where I can share my learnings with others and look here I am. And when I’m not in front of my computer blogging or coding,  you’ll find me watching movies.</p>
      <p class="ad-about-p">PS: I have just started out with my blog, so any suggestions on the content are welcome.</p>
    </mat-dialog-content>
