.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    padding: 0px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mat-dialog-title{
    background: #3f51b5;
    padding: 15px;
    color: #fff;
    margin: 0 0 0px;
    display: block;
    height: 50px;
}

.mat-dialog-content{
    display: block;
    margin: 0 0px;
    padding: 30px;
    max-height: 530px;
    overflow: auto;
    height: 530px;
    background: #fff;
}
a{
    color: #a3a39f;
    cursor: pointer;
}
a :hover{
    color: #fff;
    cursor: pointer;
}

#ppBody
{
    font-size:11pt;
    width:100%;
    margin:0 auto;
    text-align:justify;
}

#ppHeader
{
    font-family:verdana;
    font-size:21pt;
    width:100%;
    margin:0 auto;
}

.ppConsistencies
{
    display:none;
}